<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/admin/details.js" defer></script>
</head>
<body>
<h1>[[${name}]]님이 소유하신 계좌</h1>
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>계좌번호</th>
			<th>상태</th>
			<th>동결/해제</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="ac : ${account}">
			<td th:text="${ac.id}"></td>
			<td th:text="${ac.accountnum}"></td>
			<td th:text="${ac.state}"></td>
			<td><button type="button" th:onclick="|toggleAc(${ac.id}, ${ac.state})|">동결/해제</button></td>
		</tr>
	</tbody>

</table>
</body>
</html>