<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/signup.js" defer></script>
</head>
<body>
<h1>Signup Page</h1><hr>
<form>
	<input type="text" name="username" placeholder="Username"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<input type="text" name="name" placeholder="Name"><br>
	<select name="role">
		<option value="ADMIN">관리자</option>
		<option value="MEMBER">회원</option>
	</select>
	<button type="button" onclick="signup()">Signup</button>
</form>
</body>
</html>